<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Todos</title>
</head>
<body>
	{% if user.is_authenticated %}
    	<a href="/accounts/logout" class="btn btn-primary">Logout</a>
	{% else %}
		<a href="/accounts/signup" class="btn btn-primary">회원가입</a><br>
		<a href="/accounts/signin" class="btn btn-primary">Login</a>
	{% endif %}
	<h1>Todos</h1>
	{% for todo in todos %}
	<hr/>
	<h3> {{ todo.todo }}</h3>
	<p>{{ todo.description }}</p>
	<p>important : {{ todo.important }}</p>
	<p>complete : {{ todo.complete }}</p>
	{% endfor %}
</body>
</html>